.check-task {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  /* background-color: darkorchid; */
}

.pO-task {
  border-bottom: 1px solid rgb(218, 218, 218);
  width: 100%;
  margin-bottom: 25px;
  height: 60px;
  display: flex;
  align-items: center;
}

.pO-task__taskName {
  margin-left: 10px;
}

.pO-task,
.pO-task__Check,
.pO-task__taskName {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.pO-task__taskCheck:hover,
.pO-task__taskCheck:active,
.pO-task__taskCheck:focus {
  background-color: rgb(196, 178, 178);
  border-radius: 20px;
  outline: none;
}

.pO-task__taskCheck {
  cursor: pointer;
  min-height: 25px;
  min-width: 25px;
  /* background-color: salmon; */
  border-radius: 20px;
  border: 1px solid rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;
}
